* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 40px 0;
    
}


header {
    background-color: #2C4BA3;
    background-image: url(../img/jumbo.png) ;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

nav .container{

}


h1{
    font-size: 2.5rem;
    color: white;
}

header h1{
    padding-bottom: 3rem;
}
header p {
    color: white;
    padding-bottom: 1.5rem;
}

h2{
    color: #23272A;
}


.nav-wrapper {
    display: flex;
}

.nav-wrapper>div {
    ;
    
    flex-basis: 20%;
}

.nav-wrapper .logo-container,
.nav-wrapper .login-container {
    padding: .5rem .25rem;
}

.nav-wrapper .login-container{
    text-align: right;
}

.nav-wrapper .links-container {
    flex-grow: 1;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container ul {
    list-style: none;
    
}

.links-container ul li {
    display: inline-block;
}

.links-container ul li a {
    padding: .3rem .5rem;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .btn-white
{
    margin-right: 1rem;
}
.btn {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
  }

.btn-white{
    background-color: white;
    color: #23272A;
}

.btn-black {
    background-color:#23272A ;
    color: white;
  }

.btn-small {
    font-size: .8rem;
    padding: 8px 10px;
    font-weight: normal;
  }

.container{
    width: 920px;
    margin: 0 auto;
    
    padding: 20px;
    
}

.container-small {
    width: 700px;
    text-align: center;
    padding-bottom: 4rem;
    
}

.bg-blue{
    background-color: blue;
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: lightgray;
}

.bg-black{
    background-color: #23272A;
}

.row {
    display: flex;
    
    
}

.col {
    padding: 20px;
    flex-grow: 1;
    
    background-color: pink;
}
 
.col-2 {
    flex-grow: 2;
    background-color: lightskyblue;
    
}

.container-green{
    background-color: green;
    
    
}


.bg-black .col {
    background-color: #20B2AA;
    
}
.bg-black .col-2 {
    background-color: #F08080;
   
}

.container-footer{
    display: flex;
    justify-content: space-between;
    background-color: #71DCB8;
}

.logo-footer {
    background-color: #B6858C;
    
}
.button-footer{
    background-color: #B6858C;
    
}